/*
Color scheme:
Dark:  #1c1c1c #111111
Light: #cccccc #f2f2f2
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Space Mono');
@import "compass/css3";
html{
	scroll-behavior: smooth;	
}
body {
	vertical-align:baseline;
    color: #cccccc;
    background-color: #1c1c1c;
    font-family: 'Montserrat'; font-size: 22px;
    margin: 0 auto;
}
header {
	float: left;
	display: block;
}
titlewrap {
	font-size: 7vw;
	color: white;
	font-family: 'Space Mono';
}
.iconwrap{
	font-size: 40px;
	display:inline-block;
	opacity: 0;
	animation: fadeInUp 2s ease-in-out 0s forwards;
}
.iconwrap i {
	color: white;
	margin: 40px 50px 0 0;
}
.iconwrap i:hover{
	opacity: .7;
}
.section1{
    float: left;
    width: 50%;
	padding: 2% 5% 0 5%;
}
.section-wrap{
	float: left;
	width: 100%;
}
#block2{
	background: #111111;
	color: #cccccc;
}
#block3{
	background:#cccccc;
	color: #111111;
}
header {
	float: left;
   	overflow: visible;
    width: 100%;
}
.typed{
	display: inline-block;
	margin: 40px 0 10px 0;
}

main{
	padding-left: 5%;
	padding-top: 4%;
    float: left;
    width: 55%;
}
sidebar{
    float: left;
    width: 35%;
	padding: 2% 5% 0 0;
}
footer{
	background-color: #111111;
    float: left;
	width: 90%;
	padding: 0 5% 0 5%;
  	height: 100px;
  	position: absolute;
  	bottom: 0;
  	left: 0;
}
a {color: #cccccc;}
.titleimg {
    width: 100%;
	position: relative;
    text-align: center;
	color: white;
	float: left;
}
.titleimg img{
    width: 100%;
	height: 300px;
	object-fit: cover;
    display: block;

}
.centered{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
/** here **/
canvas {
  display:block;
  vertical-align:bottom;
}

#particles-js{
  position:fixed;
  width: 100%;
  height: 100%;
  background-color: "#111111";
}
.text {
	width: 100%;
  height: 100%;
	position: absolute;
	background-color: "#111111";
}
@media screen and (max-width: 800px) {
  main {
	 	width: 90%;
		padding: 2% 5% 0 5%; 
  }
	.iconwrap {
		width: 100%;
		text-align: center;
	}
	.iconwrap i {
		margin: 5%;
	}
	titlewrap{
		font-size: 13vw;
	}
}
img[src*="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {
display: none;}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
p.float-fade-in {
  animation: fadeInUp 2s ease-in-out 0s forwards;
}