@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
p {
  animation: fadeInUp 1s ease-in-out 0s forwards;
}
p.first {
  animation-delay: 2s;
}
p.second {
  animation-delay: 3s;
}
p.third {
  animation-delay: 5s;
}
p.fourth {
  animation-delay: 7s;
}
p.fifth {
  animation-delay: 9s;
}
p.sixth {
  animation-delay: 11s;
}
