navbar {
	float: left;
	width: 100%;
}
navbar a {
	color: white;
	text-decoration: none;
	padding: 10px;
	float: left;
	display: inline-block;
	margin: 0 auto;
}
navbar a:first-child {
	margin-left: 5%;
}
navbar a:hover{
	text-decoration: underline;
}
#icon {
	display: none;
}
/*  RESPONSIVE  */
@media screen and (max-width: 800px) {
	navbar {
		position: fixed;
		height: 100%;
		width: 100%;
		background: black;
		padding: 25% 0;
	}
	navbar a{
		display: inline-block;
		text-align: right;
		width: 90%;
		height: 10%;
		font-size: 5vh;	
		animation: fadeInUp 2s ease-in-out 0s 
	}
	navbar a:first-child{
		margin-left: 0;
	}
	
	#demo:checked ~ navbar {
		display: block;
		z-index: 1; /* a */
	}
	#demo:not(:checked) ~ navbar{ display:none; }
	#icon {
		display: block;
		position: fixed;
		padding: 10px;
		right: 5%;
		top: 5%;
		border-radius: 4px;
		z-index: 1;
		font-size: 5vh;
		width: 5vh;
		text-align: center;
	}
	#demo:not(:checked) ~ #icon { background: rgba(15,15,15,.8); }
	#demo:checked ~ #icon { z-index: 2; }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
a.float-fade-in {
  animation: fadeInUp 2s ease-in-out 0s forwards;
}