navbar {
	  float: left;
	  width: 100%;
	  position: relative; /*change to abs*/
	  right: 0;
	  z-index: 1;	
}

navbar a {
	  color: white;
	  text-decoration: none;
	  padding: 20px;
	  float: left;
	  display: inline-block;
	  font-size: 20px;
	  margin: 1em 0;
}

navbar a:first-child {
	  margin-left: 7%;

}

navbar a:hover {
	opacity: 1;
	color: #17bebb;
	border-bottom: 1px solid #17bebb;
	
	/* override */
}
.sticky {
	position: fixed;
	background: black;
	opacity: .8;
}
#icon {
	display: none;
}
#shop {
	float: right;
	margin-right: 7%;
}
/*  RESPONSIVE  */

@media screen and (max-width: 800px) {
	navbar {
		display: none;
	}
	navbar a {
		display: inline-block;
		text-align: right;
		width: 90%;
		height: 10%;
		font-size: 5vh;
		animation: fadeInUp 2s ease-in-out 0s
	}
	navbar a:first-child {
		margin-left: 0;
	}
	#demo:checked~navbar {
		display: block;
		position: fixed;
		height: 100%;
		width: 100%;
		padding: 25% 0;
		background: black;
		z-index: 1;
	}
	#icon {
		display: block;
		position: fixed;
		padding: 10px;
		right: 5%;
		top: 5%;
		border-radius: 4px;
		z-index: 1;
		font-size: 5vh;
		width: 5vh;
		text-align: center;
	}
	#demo:not(:checked)~#icon {
		background: rgba(15, 15, 15, .8);
	}
	#demo:checked~#icon {
		z-index: 2;
	}
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

a.float-fade-in {
	animation: fadeInUp 2s ease-in-out 0s forwards;
}