/*
Color scheme:
Dark:  #1c1c1c #111111
Light: #cccccc #f2f2f2
*/
@import url('https://fonts.googleapis.com/css?family=Space Mono');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
	vertical-align:baseline;
    color: #cccccc;
    background-color: #1c1c1c;
    font-family: 'Montserrat'; font-size: 20px;
    margin: 0 auto;
}
/********** Header **********/
header {
	padding-bottom: 40px;
	overflow: visible; 
	width: 100%;
	text-align: center;
}
.title{
	font-size: 90px;
	color: white;
	font-family: 'Space Mono';
	font-weight: bold;
	border: none;
	padding-bottom: 10px;
}
.description {
	font-size: 22px;
	color: #cccccc;
	padding: 10px 5% 30px 5%;
	word-wrap: break-word;
}
#sub-page {
	font-family: 'Montserrat';
}
#post {
	font-family: 'Space Mono';
	font-weight: bold;
}
/******** End Header ********/
main {
    float: left;
    width: 90%;
	position: absolute;
	padding: 0 5%;
}
sidebar{
    float: left;
    width: 25%;
	padding: 5% 5% 0 0;
}
a {color: #cccccc;}
/********** Containment **********/
.post-container { 
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-content: center;
	width: 100%;
}	
.post {
    -ms-flex: 33.33%;
    flex: 33.33%;
    max-width: 33.33%;
	margin: none;
}
@media screen and (max-width: 1100px) {
  .post {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
    margin: none;
  }
}
@media screen and (max-width: 700px) {
	.description {
		width: 90%;
	}
  .post {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    margin: none;
  }
  .title {
      font-size: 15vw;
  }
}
.post-icon {
	text-align: center;
	margin: 0 10px;
	height: 40vh;
	background: #111111;
}
.post-icon img{
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.post-icon img:hover{
	opacity: .7;
}
.post-caption {
	margin: 0 10px 30px;
	padding-top: 10px;	
	background: #f2f2f2;
	border-radius: 0 0 5px 5px;
}
.post-caption * {  
	padding: 5px 0;
	margin: 0;
	color: #1c1c1c;
	overflow:hidden;
	text-overflow: ellipsis;
	text-align: center;
	white-space: nowrap;
}
div.post-caption h1 {
	font-size: 30px;
}
.post-caption p{
	font-size: 15px;
	padding-bottom: 10px;
}
/****** End Containment ******/

img[src*="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {
display: none;}