/*
Color scheme:
Dark:  #1c1c1c #111111
Light: #cccccc #f2f2f2
*/
@import "../compass/css3";
body {
    color: #cccccc;
    background-color: #1c1c1c;
    font-family: 'Work Sans'; font-size: 20px;
    margin: 0 auto;
}
/********** Header **********/
header {
	padding-bottom: 40px;
}
.title{
	font-size: 90px;
	color: white;
	font-family: 'Space Mono';
	font-weight: bold;
	text-align: center;
	border: none;
	padding-bottom: 10px;
}
.description {
	font-size: 26px;
	color: white;
	font-family: 'Space Mono';
	font-weight: bold;
	text-align: center;
	padding: 10px 0 30px 0;
}
/******** End Header ********/
main {
    float: left;
    width: 60%;
	padding: 5% 5% 5% 5%;
}
sidebar{
    float: left;
    width: 25%;
	padding: 5% 5% 0 0;
}
footer{
	background-color: #111111;
    float: left;
	width: 90%;
	padding: 0 5% 0 5%;
  	height: 100px;
  	position: absolute;
  	bottom: 0;
  	left: 0;
}
a {color: #cccccc;}