/*
Color scheme:
Dark:  #1c1c1c #111111
Light: #cccccc #f2f2f2
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Space Mono');

html { scroll-behavior: smooth; min-height: 100%}
body {
    vertical-align: baseline;
    color: #cccccc;
    background-color: #1c1c1c;
    font-family: 'Montserrat';
    font-size: 20px;
    margin: 0 auto;
    word-wrap: break-word;
    min-height: 100%;
}
header {
    padding-bottom: 40px;
     overflow: visible;
     width: 100%;
     text-align: center;
 }
hr { color: white; }
.typed {
    display: inline-block;
    margin: 40px 0 10px 0;
}
div.title {
    font-size: 90px;
    color: white;
    font-family: 'Space Mono';
    font-weight: bold;
    border: none;
    padding-bottom: 10px;
}
/* ICONWRAP */
div.iconwrap {
    font-size: 40px;
    display: inline-block;
    opacity: 0;
    animation: fadeInUp 2s ease-in-out 0s forwards;
}
div.iconwrap i {
    color: white;
    margin: 40px 50px 0 0;
}
div.iconwrap i:hover {
    opacity: .7;
}
div.description {
    font-size: 22px;
    color: #cccccc;
    padding: 10px 5% 30px 5%;
    word-wrap: break-word;
}
div.description#sub-page {
    font-family: "Montserrat";
}
div.description#post {
    font-family: "Space Mono";
    font-weight: bold;
    font-size: 26px;
    color: white;
}
/******** End Header ********/
main {
    float: left;
    width: 60%;
    padding: 0 5%;
}
#post-only {
    width: 70%;
    padding: 0 15%;
}
#wide {
    float: left;
    width: 90%;
    position: absolute;
    padding: 0 5%;
}
#widee {
    width: 90%;
    height: 50%;
    margin-top: 10%;
    padding: 2% 5% 0 5%;
    text-align: center;
}
sidebar {
    float: left;
    width: 25%;
    padding: 0 5% 0 0;
}
a { color: #cccccc; }
a.link { text-decoration: underline;} /** this is a placeholder **/
a:hover { opacity: 0.7; }
/********** Containment **********/
h3 {
    color: white;
    font-size: 28px;
}
/********** PROJECT ICON**********/
.post-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
}
.post {
    -ms-flex: 33.33%;
    flex: 33.33%;
    max-width: 33.33%;
    margin: none;
}
.post-icon {
    text-align: center;
    margin: 0 10px;
    height: 40vh;
    background: #111111;
    border-radius: 7px 7px 0 0;
}
.post-icon img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 7px 7px 0 0;
}
.post-icon img:hover {
    opacity: .7;
}
.post-caption {
    margin: 0 10px 30px;
    padding-top: 10px;
    background: #f2f2f2;
    border-radius: 0 0 7px 7px;
}
.post-caption * {
    padding: 5px 0;
    margin: 0;
    color: #1c1c1c;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
}
div.post-caption h1 {
    font-size: 30px;
}
.post-caption p {
    font-size: 15px;
    padding-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

p.sub-title {
    word-spacing: 30px;
}

p.sub-title a {
    color: white;
    font-size: 26px;
    text-transform: uppercase;
    font-family: "Space Mono";
    text-decoration: none;
}

p.sub-title a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: "#111111";
}
.text {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: "#111111";
}

main#home {
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 0;
}
main#home p {
    font-size:20px;
    line-height: 1.6em;
}
div.block {
    width: 100%;
    vertical-align: top;
    display: flex;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-content: center;
}
div.block#light {
    background: #f2f2f2;
    color: #111111;
}
div.block#dark *{
    background: #111111;
    color: #f2f2f2;
}
.description#home {
    width: 40%;
    margin: 0;
    float: left;
    padding: 5%;
    color: black;
    flex: 1;
    line-height: 1.6em;
}
.description#home h1 {
    font-size: 50px;
}
.image#home {
    margin: 0;
    padding: 5%;
    float: left;
    flex: 1;
}
.image#home img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.centered {
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    margin-left: 5%;
    width: 55%;
}
/********** RESPONSIVE **********/
@media screen and (max-width: 1100px) {
    .post {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
        margin: none;
    }

}
@media screen and (max-width: 700px) {
    .description#home {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
        margin: none;
        width: 90%;
    }
    .image#home {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;

    }
    .block#dark {
        flex-direction: column-reverse;
    }

    .post {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
        margin: none;
    }
    .centered {
        width: 90%;
    }
    .iconwrap {
        width: 100%;
        text-align: center;
    }
    .iconwrap i {
        margin: 5%;
    }
    .title { font-size: 15vw; }
    #particles-js { display: none; }
    #post-only {
        width: 90%;
        padding: 0 5%;
    }
}
/********** ANIMATION **********/
@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
p.float-fade-in { animation: fadeInUp 2s ease-in-out 0s forwards; }

/* Hide branding */
img[src*="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] { display: none; }