/*
Color scheme:
Dark:  #1c1c1c #111111
Light: #cccccc #f2f2f2
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Space Mono');

html { 
    scroll-behavior: smooth; 
    min-height: 100%;
}
body {
    vertical-align: baseline;
    color: #cccccc;
    background-color: #1c1c1c;
    font-family: 'Montserrat';
    font-size: 20px;
    margin: 0 auto;
    word-wrap: break-word;
    min-height: 100%;
}
header {
    padding-top: 6%;
    padding-bottom: 40px;
    overflow: visible;
    width: 100%;
    text-align: center;
}
footer {
    background: black;
    padding: 2%;
    text-align: center;
    width: 96%;
    top: 0;
    display: inline-block;
}
hr { color: white; }
.typed {
    display: inline-block;
    margin: 40px 0 10px 0;
}
div.title {
    font-size: 90px;
    color: white;
    font-family: 'Space Mono';
    font-weight: bold;
    border: none;
    padding: 0;
}
.centered h3 {
    margin: 0;
}
/* ICONWRAP */
div.iconwrap {
    font-size: 40px;
    width: 100%;
    display: inline-block;
    opacity: 0;
    animation: fadeInUp 2s ease-in-out 0s forwards;
}
div.iconwrap i {
    color: white;
}
div.iconwrap :first-child {
    margin-left: 0;
}
div.iconwrap a {
    margin: 0 3%;
}

div.iconwrap i:hover {
    opacity: .7;
}
div.description {
    font-size: 22px;
    color: #cccccc;
    padding: 10px 5% 30px 5%;
    word-wrap: break-word;
}
div.description#sub-page {
    font-family: "Montserrat";
}
div.description#post {
    font-family: "Space Mono";
    font-weight: bold;
    font-size: 26px;
    color: white;
}
/******** End Header ********/
main {
    float: left;
    width: 60%;
    padding: 0 5%;
}
#post-only {
    width: 70%;
    padding: 0 15%;
}
#wide {
    float: left;
    width: 90%;
    position: absolute;
    padding: 0 5%;
}
.project {
    float: left;
    width: 86%;
    position: absolute;
    padding: 0 7%;
}

sidebar {
    float: left;
    width: 25%;
    padding: 0 5% 0 0;
}
a { color: #cccccc; }
a.link { text-decoration: underline;} /** this is a placeholder **/
a:hover { opacity: 0.7; }
/********** Containment **********/
h3 {
    color: white;
    font-size: 3.5vh;
}
/********** PROJECT ICON**********/
.post-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;

}
.post {
    -ms-flex: 33.33%;
    flex: 33.33%;
    max-width: 33.33%;
    margin: none;
    padding: none;
}
.post-icon {
    text-align: center;
    margin: 0 10px;
    height: 35vh; /* temp */
    background: #111111;
    border-radius: 7px 7px 0 0;
}
.post-icon img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 7px 7px 0 0;
}
.post-icon img:hover {
    opacity: .7;
}
.post-caption {
    margin: 0 10px 30px;
    padding-top: 10px;
    background: #f2f2f2;
    border-radius: 0 0 7px 7px;
}
.post-caption * {
    padding: 5px 0;
    margin: 0;
    color: #1c1c1c;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
}
div.post-caption h1 {
    font-size: 30px;
}
.post-caption p {
    font-size: 15px;
    padding-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

p.sub-title {
    word-spacing: 30px;
}

p.sub-title a {
    color: white;
    font-size: 26px;
    /*text-transform: uppercase;*/
    font-family: "Space Mono";
    text-decoration: none;
}

p.sub-title a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: "#111111";
}
.text {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: "#111111";
}

main#home {
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 0;
}
main#home p {
    font-size:20px;
    line-height: 1.6em;
}
div.block {
    width: 100%;
    vertical-align: top;
    display: flex;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-content: center;
}
div.block#light {
    background: #f2f2f2;
    color: #111111;
}
div.block#dark *{
    background: #111111;
    color: #f2f2f2;
}
.description#home {
    width: 40%;
    margin: 0;
    float: left;
    padding: 5%;
    color: black;
    flex: 1;
    line-height: 1.6em;
}
.description#home h1 {
    font-size: 50px;
}
.image#home {
    margin: 0;
    padding: 5%;
    float: left;
    flex: 1;
}
.image#home img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.centered {
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    margin-left: 7%;
    width: 55%;
}
.tmp {
    display: none;
}

.arrow {
    bottom: 0;
    position: absolute;
    font-size: 70px;
    text-align: center;
    width: 100%;
}
.project-form {
    margin-left: 8%;
}

/********** RESPONSIVE **********/
@media screen and (max-width: 1100px) {
    .post {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
        margin: none;
    }

    .tmp {
        display: block;
        text-align: center;
        color: white;
        font-size: 15vh;
    }
    .title#home {
        display: none;
    }
    main#home p {
        display: none;
    }
    .centered {
        width: 90%;
        text-align: center;
    }
    .centered h1 {
        margin: 0;
    }
    .centered h3 {
        margin: 1vh 0 7% 0;
    }
    div.iconwrap :first-child {
        margin-left: 3%;
    }
    div.iconwrap {
        text-align: center;
    }
}
@media screen and (max-width: 700px) {

    .description#home {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
        margin: none;
        width: 90%;
    }
    .image#home {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;

    }
    .block#dark {
        flex-direction: column-reverse;
    }

    .post {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
        margin: none;
    }

    .iconwrap {
        width: 100%;
        text-align: center;
    }
    .iconwrap i {
        margin: 5%;
    }
    .title { font-size: 15vw; }
    #post-only {
        width: 90%;
        padding: 0 5%;
    }
}
/********** ANIMATION **********/
@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
p.float-fade-in { 
    animation: fadeInUp 2s ease-in-out 0s forwards; 
    margin: 0;
    padding: 5% 0;
}
h3.fade-in { 
    animation: fadeIn 5s; 
}

/* Hide branding */
img[src*="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] { display: none; }




.styled-select {
   background: url(../img/select.png) no-repeat 96% 0;
   height: 29px; /* ere */
   overflow: hidden;
   width: 240px;
    display: inline-block;
    margin: 0;
    padding: 0;

}

.styled-select select {
   font-family: Montserrat;
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}


.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

.blue    { background-color: #363636; }

/* -------------------- Colors: Text */
.blue select    { color: #f2f2f2; }

.blog-container a {
    display: block;
    text-decoration: none;
    line-height: 1.6em;
}
.blog-form {
    display: inline-block;
    padding: 0; margin: 0;
    vertical-align: super;
}
.form-inline {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
label {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}
.blog-container h3 {
    font-family: "Space Mono";
    font-size: 1.6em;
}