
# Created by https://www.gitignore.io/api/dreamweaver
# Edit at https://www.gitignore.io/?templates=dreamweaver

### Dreamweaver ###
# DW Dreamweaver added files
_notes
_compareTemp
configs/
dwsync.xml
dw_php_codehinting.config
*.mno
.ftpconfig

# End of https://www.gitignore.io/api/dreamweaver
