/* 
    light: #ffffff #cccccc
    dark:  #111111 #222222
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600|Space+Mono&display=swap');

* {
    color: white !important;
    font-family: Montserrat, sans-serif !important;
}

.uk-navbar-container li a { 
    text-transform: none !important; 
    color: white !important;
    font-size: 1rem !important;
    padding: 2px 20px !important;
}
.uk-navbar-container li a:hover{
    opacity: 70% !important;
}

.uk-navbar-nav li.uk-active {
    border-bottom: 1px solid white;
}

html {
    min-height: 100%;
    width: 100%;
    background: #111111 !important;
}
body {
    min-height: 100%;
    
}
.main {
    height: 100vh;
}
.uk-section-default {
    background-color: #111111;
}
.uk-section-primary {
    background-color: #17bebb !important;
}
.uk-section-secondary {
    background-color:  !important;
}

.uk-card-muted {
    background-color: ;
}
.centered {  /* the uk-center class sucks */
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    width: 45%;
}

.main h1 {
    font-family: "Space Mono", monospace !important;
    color: white;
    font-weight: bold;
    font-size: 5vw;
}

.date {
    font-family: "Space Mono", monospace !important;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: "#111111";
    z-index: -1;
}
.main p, .home-sections p {
    color: #cccccc !important;
    font-size: 1.2em;
    line-height: 1.9em;
    font-weight: 400 !important;
}

.home-sections p {
    color: white !important;
}

.home-sections h1 {
    font-weight: 500;
}

@media screen and (max-width: 1000px) {
    .centered {
        box-sizing: border-box;
        width: auto;
        padding-right: 40px !important;
    }
    .main h1 {
        font-size: 4em;
    }
    .main p, .home-sections p{
        font-size: 1em;
    }

}
@media screen and (max-width: 960px) {
    .centered {
        padding-right: 30px !important;
    }
}

@media screen and (max-width: 640px) {
    .centered {
        padding-right: 15px !important;
    }
    .main h1 {
        font-size: 3em;
    }
}

.footer {
    text-align: center;
}
.uk-modal-body {
    color: black !important;
}
.uk-navbar-container {
    background-color: rgba(255, 8, 8, 0) !important;
}

.uk-navbar-dropdown-nav li a, .uk-dropdown-nav li a, .uk-card-default  p, .uk-card-default h3{
    color: black !important;
}

.uk-navbar-dropdown {
    background-color: #f1f1f1;
}

.uk-cover { /* fix Ken Burns animation offset */
    top: 0 !important;
    left: 0 !important;
    transform: none;
}   

.uk-card {
    border-radius: 5px;
}

.blog p {
    font-size: .85em !important;
}