body { 
    color: #cccccc;
    background-color: #1c1c1c; 
    font-family:"Yu Gothic", Monospace; 
    margin: 0 auto;
}

header {
	float: left;
   	overflow: visible;
    width: 100%;
}
main{
    float: left;
    width: 40%;
    padding-left: 10%;
}
sidebar{
    float: left;
    width: 50%;
    
}
footer{
    float: left;  
	overflow: visible;
    width: 100%;
}
container{
 width: 100%;   
}
/*--------NAVBAR--------*/
.sticky{
position: -webkit-sticky;
  position: sticky;
  top: 0;	
}
ul.navbar {
    list-style-type: none;
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;

    background-color: #111111;
	position: -webkit-sticky;
  	position: sticky;
  	top: 0;	
}

li.navbar{
    float: left;
}

li.navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}

li.navbar a:hover{
    color: #111111;
    background-color: #f2f2f2;
}

li.navbar a.active {
    color: #111111;
    background-color: #f2f2f2;
}
a.fa {
	font-size: 26px;
	color: #f2f2f2;
    text-decoration: none;
}
a.fa:hover{
	background-color: #f2f2f2;
    color: #111111;
}
/*----------------------*/
.titleimg {
    width: 100%;
	position: relative;
    text-align: center;
	color: white;
	float: left;
}
.titleimg img{	
    width: 100%;
	height: 300px;
	object-fit: cover;
    display: block;
    
}
.centered{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}








/*----------IMGHOLD----------*/		
	
.imghold{
	text-align: center;
}
.imghold img{
	padding: 20px;
	width:250px;
	height:250px;
}	

.imghold img:hover{
	opacity:.5;
}		
/*----------MAIN----------*/		
div.main{
	margin-top: 410px;
	float: left;
	margin-left: 10%;
	margin-right: 10%;	
}	

div.main h2 {
	text-align: center;
}
div.main a{
	text-decoration: underline;
	color: #cccccc;	
}
div.main a:hover{
	opacity: .5;
}