@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Basic&family=Exo:wght@500&family=Roboto:wght@500;700&family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Basic&family=Exo:wght@500&family=Jura:wght@700&family=Roboto:wght@500;700&family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Basic&family=Exo:wght@500&family=Jura:wght@700&family=Montserrat:wght@500&family=Roboto:wght@500;700&family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Basic&family=Exo:wght@500&family=Jura:wght@700&family=Montserrat:wght@500&family=Roboto:wght@500;700&family=Space+Grotesk:wght@500;700&family=Space+Mono:wght@700&display=swap');
h1, h2, h3, h4, h5, h6 {
    font-family: "Space Grotesk" !important;
    font-weight: 700 !important;
    letter-spacing: 5px;
    color: white !important;
}

nav * {
    color: white !important;
}

.main {
    height: 100vh;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #080808 !important;
}

.social {
    color: white;
    font-size: 2em;
    letter-spacing: .5em;
}

.uk-background-secondary {
    background-color: #080808 !important;
}